body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    min-height: 100vh;
    background-color: rgba(240,238,241,255);
}

.header {
    text-align: center;
    background-color: white;
    font-size: 1.4rem;
   box-shadow: 0 0 3px 0;
    
}

.main-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 1em;
gap: 30px;
}

#btnBook, #btnForm {
    font-size: large;
    border-radius: 15px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 1px 0;
}

img {
    max-width: 22px;
}

a:hover {
font-weight: 600;
color: #597ba8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}


input {
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0 ;
    padding: 10px;
}
.footer {
    display: flex;
    gap: 5px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: black;
}

.cardBook {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: larger;
    padding: 20px;
    background-color:  white;
    border-radius: 10px;
    box-shadow: 0 0 2px 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 30px;

}

.buttonRead, .buttonRemove {
    width: 200px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 1px 0;

}

@media all and (max-width: 480px) {
    .card-container {
        grid-template-columns: 300px;
    }
}
